body {
  color: #d2d8de;
}
header {
  background: linear-gradient(180deg, rgba(0,0,0, 1) 0, rgba(0,0,0, 0) 100%);
  span:before {
    color: #696f75;
    content: "/";
    display: inline-flex;
    font-weight: 500;
    padding-left: 0.6em;
    padding-right: 0.6em;
  } 
}

.wrapper-section {
  max-width: 96ch;
  .post-content {
    h2 {
      font-size: 1.5em;
      color: #fff;
      font-weight: 700;
      line-height: 1.25;
      margin: 1.25rem 0;
    }
    p {
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
      img {
        margin: 2rem 0;
      }
    }
    p:has(> img) {
      background-color: #151d25;
      margin: 2rem 0;
      padding: 30px;
      display: flex;
      justify-content: center;
      border-radius: 6px;
    }
    em {
      font-style: italic;
    }
    a {
      color: #fff;
      font-weight: 600;
      text-decoration: underline;
      text-underline-offset: 2px;
    }
    code:not(pre.highlight > code)  {
      background: #2A2B2C;
      border: 1px solid #424546;
      color: #fff;
      border-radius: 2px;
      max-width: 100%;
      font-size: 80%;
      padding: 0.1em 0.25em;
    }
    blockquote {
      background: #131313;
      border-left: 3px solid #454545;
      margin: 1.5em 10px 1.5em 0;
      padding: 1.25em 10px 0.1em 10px;
    }
  }
}
