body {
  color: #d2d8de;
}
header {
  background: linear-gradient(180deg, rgba(0,0,0, 1) 0, rgba(0,0,0, 0) 100%);
  span:before {
    color: #696f75;
    content: "/";
    display: inline-flex;
    font-weight: 500;
    padding-left: 0.6em;
    padding-right: 0.6em;
  } 
}

.intro-section {
  max-width: 96ch;
}
.posts-post p:last-child {
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
