---
layout: default
---
<div class="post-header flex flex-col gap-3 mb-9">
  <div class="flex flex-row items-center">
    <time datetime="{{ post.date }}" class="text-base">
      {{ page.date | date: "%B" }}
      {{ page.date | date: "%d" | plus:'0' }}, 
      {{ page.date | date: "%Y" }}
    </time>
  </div>
  <h3 class="text-white font-semibold text-2xl md:text-5xl">{{ page.title }}</h3>
  {{ page.excerpt }}
</div>
<hr class="w-2/4"/>
<div class="post-content mt-14 mb-14 text-lg max-w-prose">
  {{ content | remove_first: page.excerpt }}
</div>
